app-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: rgb(36, 35, 34);
    border-bottom: 3px solid rgb(115,86,51);
}
app-offerslider{
    margin-bottom: 30px;
}