<div class="container">
  <div class="row">
    <div class="products col-xs-12 col-sm-6 col-lg-4">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <img mat-card-lg-image src="assets/t-shirt.jpg" alt="Photo of a Shiba Inu">
            <mat-card-title>Designer Tees</mat-card-title>
            <mat-card-subtitle>For Corporate, Schools, Colleges...</mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <p>
            We design T-Shirts with specified logo along with various shades and colors.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="products col-xs-12 col-sm-6 col-lg-4">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <img mat-card-lg-image src="assets/t-shirt.jpg" alt="Photo of a Shiba Inu">
            <mat-card-title>Designer Tees</mat-card-title>
            <mat-card-subtitle>For Corporate, Schools, Colleges...</mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <p>
            We design T-Shirts with specified logo along with various shades and colors.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="products col-xs-12 col-sm-6 col-lg-4">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <img mat-card-lg-image src="assets/t-shirt.jpg" alt="Photo of a Shiba Inu">
            <mat-card-title>Designer Tees</mat-card-title>
            <mat-card-subtitle>For Corporate, Schools, Colleges...</mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <p>
            We design T-Shirts with specified logo along with various shades and colors.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="products col-xs-12 col-sm-6 col-lg-4">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <img mat-card-lg-image src="assets/t-shirt.jpg" alt="Photo of a Shiba Inu">
            <mat-card-title>Designer Tees</mat-card-title>
            <mat-card-subtitle>For Corporate, Schools, Colleges...</mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <p>
            We design T-Shirts with specified logo along with various shades and colors.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="products col-xs-12 col-sm-6 col-lg-4">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <img mat-card-lg-image src="assets/t-shirt.jpg" alt="Photo of a Shiba Inu">
            <mat-card-title>Designer Tees</mat-card-title>
            <mat-card-subtitle>For Corporate, Schools, Colleges...</mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <p>
            We design T-Shirts with specified logo along with various shades and colors.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="products col-xs-12 col-sm-6 col-lg-4">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <img mat-card-lg-image src="assets/t-shirt.jpg" alt="Photo of a Shiba Inu">
            <mat-card-title>Designer Tees</mat-card-title>
            <mat-card-subtitle>For Corporate, Schools, Colleges...</mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <p>
            We design T-Shirts with specified logo along with various shades and colors.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="products col-xs-12 col-sm-6 col-lg-4">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <img mat-card-lg-image src="assets/t-shirt.jpg" alt="Photo of a Shiba Inu">
            <mat-card-title>Designer Tees</mat-card-title>
            <mat-card-subtitle>For Corporate, Schools, Colleges...</mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <p>
            We design T-Shirts with specified logo along with various shades and colors.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="products col-xs-12 col-sm-6 col-lg-4">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <img mat-card-lg-image src="assets/t-shirt.jpg" alt="Photo of a Shiba Inu">
            <mat-card-title>Designer Tees</mat-card-title>
            <mat-card-subtitle>For Corporate, Schools, Colleges...</mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <p>
            We design T-Shirts with specified logo along with various shades and colors.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="products col-xs-12 col-sm-6 col-lg-4">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <img mat-card-lg-image src="assets/t-shirt.jpg" alt="Photo of a Shiba Inu">
            <mat-card-title>Designer Tees</mat-card-title>
            <mat-card-subtitle>For Corporate, Schools, Colleges...</mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <p>
            We design T-Shirts with specified logo along with various shades and colors.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="products col-xs-12 col-sm-6 col-lg-4">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <img mat-card-lg-image src="assets/t-shirt.jpg" alt="Photo of a Shiba Inu">
            <mat-card-title>Designer Tees</mat-card-title>
            <mat-card-subtitle>For Corporate, Schools, Colleges...</mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <p>
            We design T-Shirts with specified logo along with various shades and colors.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>