<!--Carousel Wrapper-->
<mdb-carousel [isControls]="true" [interval]= "3000" class="slide carousel-fade" [animation]="'fade'">
  <!--First slide-->
  <mdb-carousel-item>
      <img class="d-block w-100" src="assets/carousel-1.jpg" alt="First slide">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
  </mdb-carousel-item>
  <!--/First slide-->
  <!--Second slide-->
  <mdb-carousel-item>
      <img class="d-block w-100" src="assets/carousel-2.jpg" alt="Second slide">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
  </mdb-carousel-item>
  <!--/Second slide-->
  <!--Third slide-->
  <mdb-carousel-item>
      <img class="d-block w-100" src="assets/carousel-3.jpg" alt="Third slide">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
  </mdb-carousel-item>
  <!--/Third slide-->
</mdb-carousel>
<!--/.Carousel Wrapper-->